---
import MealAttribute from './MealAttribute.astro';
import { Image } from 'astro:assets';

export interface MealProps {
  image: {
    src: string;
    alt: string;
  };
  mealTags: string[];
  mealTitle: string;
  mealAttributes: {
    amount: number;
    title: string;
    isLeft: boolean;
    iconName: string;
  }[];
}

const { mealAttributes, mealTags, mealTitle, image } = Astro.props as MealProps;
---

<div class='meal'>
  <Image
    width={400}
    height={500}
    src={image.src}
    class='meal-img'
    alt={image.alt}
  />
  <div class='meal-content'>
    <div class='meal-tags'>
      {
        mealTags.map((tag) => (
          <span
            class={`inline-block py-[0.4rem] px-[0.8rem] text-[1.2rem] uppercase text-[#333] rounded-full font-semibold ${
              (tag === 'Vegan' && 'bg-[#94d82d]') ||
              (tag === 'Paleo' && 'bg-[#ffd43b]') ||
              (tag === 'Vegetarian' && 'bg-[#51cf66]')
            }`}>
            {tag}
          </span>
        ))
      }
    </div>
    <p class='meal-title'>
      {mealTitle}
    </p>
    <ul class='meal-attribute'>
      {
        mealAttributes.map((item) => (
          <MealAttribute
            title={item.title}
            amount={item.amount}
            isLeft={item.isLeft}
            iconName={item.iconName}
          />
        ))
      }
    </ul>
  </div>
</div>

<style>
  .meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
  }

  .meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }

  .meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  .meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }

  .tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
  }

  .tag--vegetarian {
    background-color: #51cf66;
  }

  .tag--vegan {
    background-color: #94d82d;
  }

  .tag--paleo {
    background-color: #ffd43b;
  }

  .meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  .meal-img {
    width: 100%;
  }

  .all-recipes {
    text-align: center;
    font-size: 1.8rem;
  }
</style>
