---
import MealAttribute from './MealAttribute.astro';

export interface MealProps {
  image: {
    src: string;
    alt: string;
  };
  mealTags: string[];
  mealTitle: string;
  mealAttributes: {
    amount: number;
    title: string;
    isLeft: boolean;
    iconName: string;
  }[];
}

const { mealAttributes, mealTags, mealTitle, image } = Astro.props as MealProps;
---

<div class='meal'>
  <img src={image.src} class='meal-img' alt={image.alt} />
  <div class='meal-content'>
    <div class='meal-tags'>
      {
        mealTags.map((tag) => (
          <span
            class={`inline-block py-[0.4rem] px-[0.8rem] text-[1.2rem] uppercase text-[#333] rounded-full font-semibold ${
              (tag === 'Vegan' && 'bg-[#94d82d]') ||
              (tag === 'Paleo' && 'bg-[#ffd43b]') ||
              (tag === 'Vegetarian' && 'bg-[#51cf66]')
            }`}>
            {tag}
          </span>
        ))
      }
    </div>
    <p class='meal-title'>
      {mealTitle}
    </p>
    <ul class='meal-attribute'>
      {
        mealAttributes.map((item) => (
          <MealAttribute
            title={item.title}
            amount={item.amount}
            isLeft={item.isLeft}
            iconName={item.iconName}
          />
        ))
      }
    </ul>
  </div>
</div>
