---
import { Image } from 'astro:assets';

import customer1 from '../img/customers/customer-1.jpg';
import customer2 from '../img/customers/customer-2.jpg';
import customer3 from '../img/customers/customer-3.jpg';
import customer4 from '../img/customers/customer-4.jpg';
import customer5 from '../img/customers/customer-5.jpg';
import customer6 from '../img/customers/customer-6.jpg';
import heroWbp from '../img/hero-min.png';
import hero from '../img/hero.webp';
---

<section class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <h1 class='heading-primary'>
        A healthy meal delivered to your door, every single day
      </h1>
      <p class='hero-description'>
        The smart 365-days-per-year food subscription that will make you eat
        healthy again. Tailored to your personal tastes and nutritional needs.
      </p>
      <a href='#cta' class='btn btn--full margin-right-sm'>Start eating well</a>

      <a href='#how' class='btn btn--outline'>Learn more &darr;</a>
      <div class='delivered-meals'>
        <div class='delivered-imgs'>
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer1}
            alt='Customer photo'
          />
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer2}
            alt='Customer photo'
          />
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer3}
            alt='Customer photo'
          />
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer4}
            alt='Customer photo'
          />
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer5}
            alt='Customer photo'
          />
          <Image
            loading='lazy'
            width={100}
            height={100}
            src={customer6}
            alt='Customer photo'
          />
        </div>
        <p class='text-[1.8rem] font-semibold'>
          <span class='text-[#df711f] font-bold'>250,000+</span> meals delivered
          last year!
        </p>
      </div>
    </div>
    <div class='hero-img-box'>
      <picture>
        <source srcset={heroWbp} type='image/webp' />
        <source srcset={hero} type='image/png' />

        <Image
          loading='lazy'
          width={600}
          height={600}
          loading='lazy'
          src={hero}
          alt='Woman enjoying food, meals in storage container, and food bowls on a table'
        />
      </picture>
    </div>
  </div>
</section>

<style>
  .section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }

  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }

  .hero-img {
    width: 100%;
  }

  .delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
  }

  .delivered-imgs {
    display: flex;
  }

  .delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
  }

  .delivered-imgs img:last-child {
    margin: 0;
  }

  .delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .delivered-text span {
    color: #cf711f;
    font-weight: 700;
  }

  @media (max-width: 84em) {
    .hero {
      max-width: 120rem;
    }
  }

  @media (max-width: 75em) {
    .hero {
      gap: 4.8rem;
    }

    @media (max-width: 59em) {
      .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
      }

      .hero-text-box,
      .hero-img-box {
        text-align: center;
      }

      .hero-img {
        width: 60%;
      }
    }
  }
</style>

<script>
  const sectionHeroEl = document.querySelector('.section-hero');

  const obs = new IntersectionObserver(
    function (entries) {
      const ent = entries[0];
      console.log(ent);

      if (ent.isIntersecting === false) {
        document.body.classList.add('sticky');
      }

      if (ent.isIntersecting === true) {
        document.body.classList.remove('sticky');
      }
    },
    {
      // In the viewport
      root: null,
      threshold: 0,
      rootMargin: '-80px',
    }
  );
  obs.observe(sectionHeroEl);
</script>
